.App {
  text-align: center;
  margin: auto;
  background-image: url(https://images.unsplash.com/photo-1425736317462-a103b1303a35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: rgb(80, 134, 80);

}

.nav-cont {
  max-width: 1000px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
  margin: auto;
}

.img-div {
  /* border: 1px solid rgb(234, 0, 255); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.img-div img{
  height: 10vh;
}
.img-div h1{
  color: white;
  font-size: 30px; 
  
}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;

}
.logout {
  width: 20%;
  height: 30px;
  border-radius: 20px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.edit-user {
  width: 20%;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(11, 56, 0);
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.plant-card {
  /* border: 2px solid rgb(18, 99, 38); */
  width: 300px;
  height: 400px;
  background-color: rgba(86, 148, 101, 0.966);
  margin: 5px;
}

.plant-container {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  /* background-color: lightgray; */
  min-height: 90vh;
  justify-content: center;
  margin: auto;
  position: ;
}


.btn {
  width: 40%;
  height: 5vh;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background-color: rgb(145, 21, 21);
  color: white;
}
.btn-delete:hover {
  background-color: rgb(199, 64, 46);
}

.btn-edit {
  background-color: teal;
  color: white;
}
.btn-edit:hover {
  background-color: rgb(97, 179, 145);
}
.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80px;
}

.card-content h1{
  font-size: 34px;
}

.modal-bg {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s opacity 0.5s;
}

.modal {
  background-color: white;
  width: 400px;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.modal input{
  width: 90%;
}

.modal-close {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  width: 30px;
  height: 30px;
  color: white;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.add-plant {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(255, 0, 255, 0.226); */
}

.add-btn {
  height: 80px;
  width: 80px;
  background-color: rgb(255, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 58px;
  font-weight: bold;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgb(255, 234, 114);
  color: darkgreen;
  border: 1px solid darkgreen;
}