.App {
  text-align: center;
}

nav {
  width: 100%;
}

.nav-cont {
  max-width: 1000px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  height: 5vh;
  align-items: center;
}

.plant-card {
  border: 2px solid grey;
  width: 300px;
  height: 400px;
  background-color: bisque;
  margin: 5px;
}

.plant-container {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  background-color: lightgray;
  min-height: 90vh;
}

.btn {
  width: 40%;
  height: 5vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-delete {
  background-color: salmon;
}

.btn-edit {
  background-color: teal;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80px;
}

.card-content {
  height: 250px;
}